<div class="card card-profile">
  <img class="card-img-top" src="assets/images/foto-perfil.jpg" alt="Perfil">
    <div class="card-body">
      <h5 class="card-title">26 años</h5>
      <p class="card-text"> Hola, soy Fernando Navajas,
        desarrollador de aplicaciones web, además soy un 
        amante de la construcción y las manualidades, me encanta tener un proyecto
        en mente e ir desarrollandolo en mis días libres. Esta página
        es producto de esa motivación. 
        <br>
        Pienso que la colaboración es la clave para el éxito.
      </p>
    </div>
  </div>