<div class="card card-profile">
  <img class="card-img-top" src="assets/images/foto-perfil.jpg" alt="Perfil">
    <div class="card-body">
      <h5 class="card-title">Fernando Navajas ~ 27 años</h5>
      <p class="card-text"> Hola, soy Fernando Navajas, vivo en Chile y me dedico como
        desarrollador web 👨‍💻, soy un 
        amante de la construcción 👷🏻 y bricolaje, me encanta tener un proyecto
        en mente e ir desarrollandolo en mis días libres. Esta página
        es producto de esa motivación. 💪
        <br>
        Amo y aprovecho mis días libres. 🏝️
        <br>
        <br>
        Hi, I am Fernando Navajas, I live in Chile and I dedicate myself as a web developer 👨‍💻,
        I am in love with construction 👷🏻 and DIY. I love having a project
        in mind and develop it on my days off. This page is the result of that motivation. 💪
        <br>
        I love and take advantage of my days off. 🏝️
      </p>
    </div>
  </div>