<div class="d-flex mt-2 p-0">
  <div class="w-100">
    <div class="">
      <h5>Certificaciones</h5>
    </div>
    <span class="d-flex">
      <a href="https://www.credly.com/badges/9e8a0e2f-64d0-4dfe-868d-13c0642eb0a2?source=linked_in_profile">
        <img class="logos" src="assets/images/logos/pcap-31-xx.png" alt="certification python">
      </a>
      <a href="https://www.coursera.org/account/accomplishments/specialization/PWNSQZV4LKXE">
        <img class="logos" src="assets/images/logos/google-cloud-platform.png" alt="certification">
      </a>
      <a href="https://www.hackerrank.com/fernandonavajas1">
        <img class="logos" src="assets/images/logos/hacker_rank.png" alt="certification">
      </a>
    </span>
  </div>
</div>