<div id="accordion-hobbies" class="card card-jobs border-primary mt-2 p-0">
  <div class="card-header bg-success text-white">
    <h5>Hobbies</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div data-toggle="collapse" data-target="#collapseOneHobbie" aria-expanded="true" aria-controls="collapseOne">
        Estación de ejercicios
      </div>
      <div id="collapseOneHobbie" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-hobbies">
        <div class="card-body">
          
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div data-toggle="collapse" data-target="#collapseTwoHobbie" aria-expanded="true" aria-controls="collapseOne">
        Mueble de Pared Hexagonales
      </div>
      <div id="collapseTwoHobbie" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion-hobbies">
        <div class="card-body">
          <img class="img-hobbies" src="assets/images/hobbies/mueble-de-pared.jpg" alt="mueble-de-pared">
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div data-toggle="collapse" data-target="#collapseThreeHobbie" aria-expanded="true" aria-controls="collapseOne">
        Porta Maceteros
      </div>
      <div id="collapseThreeHobbie" class="collapse" aria-labelledby="headingThree" data-parent="#accordion-hobbies">
        <div class="card-body">
          pera manzana
        </div>
      </div>
    </li>
  </ul>
</div>