<div id="accordion-hobbies" class="card card-hobbies">
  <div class="card-header card-header_hobbies">
    <h5>Hobbies</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div data-toggle="collapse" data-target="#collapseOneHobbie" aria-expanded="true" aria-controls="collapseOne">
        Banca de ejercicios
      </div>
      <div id="collapseOneHobbie" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-hobbies">
        <div class="card-body">
          
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div data-toggle="collapse" data-target="#collapseTwoHobbie" aria-expanded="true" aria-controls="collapseOne">
        Mueble Hexagonal
      </div>
      <div id="collapseTwoHobbie" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion-hobbies">
        <div class="card-body">
          <div class="body_flex">
            <img class="img-hobbies col-md-6" src="assets/images/hobbies/mueble-de-pared.jpg" alt="mueble-de-pared">
            <span class="col-md-6"> 
              Mueble de madera con forma de hexágonos<br><br>
              Me llama la atención las estructuras basadas en hexágonos,
              desde las abejas que naturalmente crean sus panales con formas hexagonales, para ocupar el espacio de forma eficiente,
              hasta la forma de los copos de nieve. A mis ojos el hexágono es la figura geométrica perfecta.
            </span>
          </div>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div data-toggle="collapse" data-target="#collapseThreeHobbie" aria-expanded="true" aria-controls="collapseOne">
        Porta Maceteros
      </div>
      <div id="collapseThreeHobbie" class="collapse" aria-labelledby="headingThree" data-parent="#accordion-hobbies">
        <div class="card-body">
          pera manzana
        </div>
      </div>
    </li>
  </ul>
</div>