<div id="accordion-jobs" class="card card-jobs">
  <div class="card-header card-header_jobs">
    <h5>Experiencias</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div data-toggle="collapse" data-target="#collapseOneJob" aria-expanded="true" aria-controls="collapseOne">
        Software Engineer en Buk - Software de Recursos Humanos
      </div>
      <div id="collapseOneJob" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-jobs">
        <div class="card-body">
          <img class="logos" src="assets/images/logos/buk-logo.png" alt="buk">
          <span class=""> 
            El Oasis Buk, <br> Un lugar donde me siento agradecido de haber postulado, al principio no tenía idea que hacían, pero poco a poco
            empecé a empaparme de su cultura y la energía de su equipo, entré al equipo de selección y atracción de talento, donde nos encargamos de
            las postulaciones de candidatos a los distintos clientes de Buk. Portales de postulación, flujos del proceso de selección, creación del
            empleado en la plataforma, integraciones con otras plataformas de empleos como Trabajando.com, Linkedin, Bolsa Nacional de Empleo.
            <br><br>
            Tecnologías utilizadas: Ruby on Rails, Javascript, Postgress, Gitlab, Jira.
          </span>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div data-toggle="collapse" data-target="#collapseTwoJob" aria-expanded="true" aria-controls="collapseOne">
        Software Engineer en BICE Inversiones
      </div>
      <div id="collapseTwoJob" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion-jobs">
        <div class="card-body">
          <img class="logos" src="assets/images/logos/bice-logo.png" alt="bice">
          <span class="">
            Bice Inversiones, <br>
            Participe en el equipo encargado del desarrollo de una página web para que personas, como tu o o como yo, se registren como clientes en Bice Inversiones,
            y que estas puedan operar en inversiones como fondos mutuos, acciones, etf's... Sin necesidad de firmar presencialmente los documentos.
            <br><br>
            Tecnologías utilizadas: Python(Flask), React, MongoDB, Docker, kubernetes para micro servicios.
          </span>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div data-toggle="collapse" data-target="#collapseThreeJob" aria-expanded="true" aria-controls="collapseOne">
        Software Engineer en Sernovatec
      </div>
      <div id="collapseThreeJob" class="collapse" aria-labelledby="headingThree" data-parent="#accordion-jobs">
        <div class="card-body">
          <img class="logos" src="assets/images/logos/sernovatec-logo.png" alt="bice">
          <span class="">
            Sernovatec,<br>
            Desarrolle servicios web como externo para BICE Inversiones. Donde se deseaba implementar una nueva plataforma para unir todos
            los tipos de operaciones que pueden realizar los ejecutivos de inversiones en una gran plataforma llamada OWP. Esta maneja operaciones en
            fondos mutuos, acciones y otros instrumentos financieros.
            <br><br>
            Tecnologías utilizadas:  Java(Sprint-Boot), WebLogic, SQLS para servicios internos del banco.
          </span>
        </div>
      </div>
    </li>
  </ul>
</div>