<div id="accordion-projects" class="card card-projects">
  <div class="card-header card-header_projects">
    <h5>Proyectos</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div data-toggle="collapse" data-target="#collapseOneProject" aria-expanded="true" aria-controls="collapseOne">
        Rut Generator
      </div>
      <div id="collapseOneProject" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-projects">
        <div class="card-body">
          <div class="body_flex">
            <a href="https://fernandonavajas.github.io/rut_generator/">
              <img class="img-projects col-md-6" src="assets/images/projects/rut_generator.png" alt="rut-generator">
            </a>
            <span class="col-md-6"> 
              Página web para generar ruts de pruebas<br><br>
              Aplicación simple y sencilla muy útil para realizar pruebas cuando estamos
              testeando con nuestras máquinas y necesitamos de ruts válidos.
              <a href="https://fernandonavajas.github.io/rut_generator/">Link</a>
            </span>
          </div>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div data-toggle="collapse" data-target="#collapseTwoProject" aria-expanded="true" aria-controls="collapseTwo">
        Planning Poker
      </div>
      <div id="collapseTwoProject" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion-projects">
        <div class="card-body">
          <p class="text-center">Proximamente...</p>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div data-toggle="collapse" data-target="#collapseFourthProject" aria-expanded="true" aria-controls="collapseFourth">
        Randomizer
      </div>
      <div id="collapseFourthProject" class="collapse" aria-labelledby="headingFourth" data-parent="#accordion-projects">
        <div class="card-body">
          <p class="text-center">Proximamente...</p>
        </div>
      </div>
    </li>
  </ul>
</div>