<div id="accordion-jobs" class="card card-jobs">
  <div class="card-header card-header_jobs">
    <h5>Experiencias</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div data-toggle="collapse" data-target="#collapseOneJob" aria-expanded="true" aria-controls="collapseOne">
        Software Engineer en Buk - Software de Recursos Humanos
      </div>
      <div id="collapseOneJob" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-jobs">
        <div class="card-body">
          El Oasis Buk, un lugar donde me siento agradecido de haber postulado, al principio no tenía idea que hacían, pero poco a poco
          empecé a empaparme de su cultura y la energía de su equipo, entré al equipo de selección y atracción de talento, donde nos encargamos de
          las postulaciones de candidatos a los distintos clientes de Buk. Portales de postulación, flujos del proceso de selección, creación del
          empleado en la plataforma, integraciones con otras plataformas de empleos como Trabajando.com, Linkedin, Bolsa Nacional de Empleo.
          <br><br>
          Tecnologías utilizadas: Ruby on Rails, Javascript, Postgress, Gitlab, Jira.

        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div data-toggle="collapse" data-target="#collapseTwoJob" aria-expanded="true" aria-controls="collapseOne">
        Software Engineer en BICE Inversiones
      </div>
      <div id="collapseTwoJob" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion-jobs">
        <div class="card-body">
          Desarrollo plataforma para el registro de personas naturales como clientes BICE Inversiones.
          <br><br>
          Tecnologías utilizadas: Python(Flask), React, MongoDB, Docker, kubernetes para micro servicios.
          
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div data-toggle="collapse" data-target="#collapseThreeJob" aria-expanded="true" aria-controls="collapseOne">
        Software Engineer en Sernovatec
      </div>
      <div id="collapseThreeJob" class="collapse" aria-labelledby="headingThree" data-parent="#accordion-jobs">
        <div class="card-body">
          Desarrollo de servicios web para BICE Inversiones.
          <br><br>
          Tecnologías utilizadas:  Java(Sprint-Boot), WebLogic, SQLS para servicios internos del banco.
        </div>
      </div>
    </li>
  </ul>
</div>