<div id="accordion" class="card card-jobs border-primary col-md-7 m-1 p-0">
  <div class="card-header bg-primary text-white">
    <h5>Empleos</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Software Engineer en Buk - Software de Recursos Humanos
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          kiwi melon
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
        Software Engineer en BICE Inversiones
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          banana
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
        Software Engineer en Sernovatec
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          pera manzana
        </div>
      </div>
    </li>
  </ul>
</div>