.current-url {
  color: white;
}

.burger-menu {
  color: #dfe0d4;
  font-weight: 800;
  font-size: 40px;
}

body{ min-height:100vh; margin:0; position:relative; }
header{ min-height:50px; background:lightcyan; }
footer{ background:PapayaWhip; }

body {
  position: relative;
}

body::after {
  content: '';
  display: block;
  height: 230px; /* Set same as footer's height */
}
.always-bottom-page {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer{
  background: #307280;
  padding-top: 16px;

  text-align: center;

  &_copyright{
    margin-top: 60px;
    font-size: 14px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 10px;
  }
  &_technologies{
    .title {
      margin-bottom: 30px;
    }
    .items {
      width: 100%;
      display: inline-flex;
      justify-content: space-evenly;
    }
  }
}

.logos {
  max-width: 100px;
  max-height: 100px;
}

.img-hobbies {
  max-width: 400px !important;
  max-height: 400px;
  object-fit: cover;
}

.img-projects {
  max-width: 600px !important;
  max-height: 400px;
  object-fit: cover;
}

.posts-title {
  padding-top: 18px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
}

.card {
  padding: 0px;
  margin-top: 8px;
  border: 1px solid rgba(42, 45, 51, 0.6) !important;

  &-post {
    background-color: transparent !important;
    border: 1px solid rgba(62, 146, 163, 0.6) !important;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 30px;

    .card-header, .card-footer {
      text-align: center;
      background-color: #3e92a3 !important;
      font-weight: 600;
      font-size: 18px;
    }
  }
  &-profile {
    color: #dfe0d4;
    background-color: #3e92a3 !important;
  }
  &-jobs {
    width: 100%;
    height: fit-content;
    color: #3e92a3;

    .card-body {
      color: gray;
    }
  }
  &-hobbies{
    color: #52a33e;

    .card-body {
      color: gray;
    }
  }
  &-projects{
    color: #b9b13c;

    .card-body {
      color: gray;
    }
  }
  .card-header {
    color: #dfe0d4;
    &_jobs{
      background-color: #3e92a3 !important;
    }
    &_hobbies{
      background-color: #52a33e !important;
    }
    &_projects{
      background-color: #b9b13c !important;
    }
  }
}

.body_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.post{
  .ajust-post {
    margin-right: auto;
    margin-left: auto;
  }
  .content{
    margin-top: 50px;
    a{
      color: #3e92a3;
    }
  }

  .header {
    margin-top: 30px;
    .author {
      font-weight: 100;
      color: #52a33e;
    }
  
    .date {
      float: right;
    }
  }

}