.current-url {
  color: white;
}

body{ min-height:100vh; margin:0; position:relative; }
header{ min-height:50px; background:lightcyan; }
footer{ background:PapayaWhip; }

body {
  position: relative;
}

body::after {
  content: '';
  display: block;
  height: 230px; /* Set same as footer's height */
}
.always-bottom-page {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer{
  background: #307280;
  padding-top: 16px;

  text-align: center;

  &_copyright{
    margin-top: 60px;
    font-size: 12px;
    padding-left: 12px;
    padding-right: 12px;
  }
  &_technologies{
    .title {
      margin-bottom: 30px;
    }
    .items {
      width: 100%;
      display: inline-flex;
      justify-content: space-evenly;
    }
  }
}

.logos {
  max-width: 100px;
  max-height: 100px;
}

.img-hobbies {
  max-width: 400px;
  max-height: 400px;
}

.card {
  padding: 0px;
  margin-top: 8px;
  border: 1px solid rgba(42, 45, 51, 0.6) !important;

  &-profile {
    color: #dfe0d4;
    background-color: #3e92a3 !important;
  }
  &-jobs {
    width: 100%;
    height: fit-content;
    color: #3e92a3;

    .card-body {
      color: gray;
    }
  }
  &-hobbies{
    color: #52a33e;

    .card-body {
      color: gray;
    }
  }
  .card-header {
    color: #dfe0d4;
    &_jobs{
      background-color: #3e92a3 !important;
    }
    &_hobbies{
      background-color: #52a33e !important;
    }
  }
}

.body_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}